@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes parallaxForeground {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30%);
  }
}

@keyframes parallaxBackground {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

[data-parallax-foreground] {
  @media ((prefers-reduced-motion: no-preference) and (min-device-width: 1024px) and (min-width: 1024px)) {
    animation: parallaxForeground ease-in-out;
    animation-timeline: view();
  }
}

[data-parallax-background] {
  @media ((prefers-reduced-motion: no-preference) and (min-device-width: 1024px) and (min-width: 1024px)) {
    animation: parallaxBackground ease-in-out;
    animation-timeline: view();
  }
}

[data-fade-in] {
  @media (prefers-reduced-motion: no-preference) {
    animation: fadeIn ease-in-out;
    animation-timeline: view();
    animation-range-end: 70vh;
  }
}

[data-fade-out] {
  @media (prefers-reduced-motion: no-preference) {
    animation: fadeOut ease-in-out;
    animation-timeline: view();
    animation-range-start: 70vh;
  }
}

[data-invert] {
  filter: invert(1);
}

[data-marquee] {
  @media (prefers-reduced-motion: no-preference) {
    animation: marquee 20s linear infinite;
    animation-direction: alternate-reverse;
  }
}

@layer base {
  html {
    @apply overflow-x-hidden subpixel-antialiased scroll-smooth;
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    @apply leading-normal break-words;
  }

  main {
    @apply w-full lg:w-[70vw];
  }

  p {
    @apply max-w-prose leading-normal break-words;
  }

  svg {
    shape-rendering: geometricPrecision;
  }

  hr {
    @apply border-0 border-t border-black my-5 opacity-80;
  }
}
