@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden subpixel-antialiased scroll-smooth;
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
  }

  body {
    @apply leading-normal break-words flex items-center justify-center min-h-screen bg-slate-100 flex-col;
  }

  img {
    @apply w-full h-full object-cover;
  }

  p {
    @apply max-w-prose leading-normal break-words;
  }
}

[title="Next Image"]:after {
  display: none;
}
