@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden subpixel-antialiased scroll-smooth;
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
  }

  p {
    @apply max-w-prose leading-normal break-words;
  }

  svg {
    shape-rendering: geometricPrecision;
  }

  hr {
    @apply border-0 border-t border-black my-5 opacity-80;
  }
}

[title="right"]:after {
  display: none;
}
